body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #eaeaea;
    border-bottom: 2px solid black;
}

p{
    font-size: 13px;
}

table {
    width: 60%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-bottom: 8px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px 20px;
    text-align: left;
}

form {
    max-width: 510px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

input[type="email"], textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #7e0aeb;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #54059e;
}

button{
    background-color: #0abaeb;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
}
button:hover{
    background-color: #0692b9;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.name{
    font-size: 25px;
}


